.venv/
.venv*/
venv/
env/
__pycache__/
*.py[cod]
*.ipynb_checkpoints
dist/
build/
*.egg-info/
*.bak
*backup*/
app_backup_*/
backup_*/
*.bak.*
*.tmp
.DS_Store
Thumbs.db
# 如需把压缩包提交，注释下面两行
*.zip
*.tar.gz
